
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background: #2bd046;
    flex-direction: column;
    color: white;
}
form{
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: center;
}
form input{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100px;
    padding: 4px;
    border: 2.5px solid white;
    background: transparent;
    color: white;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}
form input:hover{
    background: white;
    color: black;
}
form textarea{
    resize: none;
    width: 400px;
    height: 200px;
    padding: 4px;
    border: 2.5px solid white;
    background: transparent;
    color: white;
    transition: all 0.3s ease;
    margin: 1rem;
}
form textarea:focus{
    background: rgba(255,255,255,0.5);
    color: black;
}
